
<div class="container-home">
    <div class="top-container">
        


        <div class="container-pesquisa">
            
            <div class="child-container pesquisa">
                {{#if search}}
                    <h1>Você está buscando por: <span>{{search}}</span></h1>
                {{#if postsQty}}
                    <p class="p-results">Total de resultados: <span>{{postsQty}}</span></p>
                {{else}}
                    <p>Nenhum post foi encontrado para o termo: <span>{{search}}</span></p>
                {{/if}}

                {{else}}    
                    <h1>AQUI SERÃO EXIBIDOS TODOS OS <span id="span-posts"> POSTS </span></h1>
                {{/if}} 
            </div>
            
            <div class="input-order-container"> 
                <form action="/" method="GET">
                    <div id="container-inputs">
                        <div id="input-wrapper">
                            <input type="text" name="search" placeholder="Está buscando por algo?" class="input">
                            <button type="submit" class="btn" value="BUSCAR"> <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> </button>
                        </div>
                    
                    </div>
                </form>

                <div class="container-ordenar">
                    <div id="seila">
                        <span>Ordenar por:</span>
                        
                        <form action="/" method="get">
                                <input type="hidden" name="search" value="{{this.search}}">
                                <input type="hidden" name="order" value="new">
                            <button type="submit"><i class="fa-solid fa-arrow-up" style="color: #000000;"></i></button>
                        </form>

                        <form action="/" method="get">
                                <input type="hidden" name="search" value="{{this.search}}">
                                <input type="hidden" name="order" value="old">
                            <button type="submit"><i class="fa-solid fa-arrow-up fa-rotate-180" style="color: #000000;"></i></button>
                        </form>
                        <a href="/"><i class="fa-solid fa-xmark" style="color: #000000;"></i></a>
                        <br> <br>
                    </div>
                </div>

            </div>
        </div>
        
        

    </div>   
        <section class="posts-container">
            <div class="posts-area"> 
                {{#each posts}}
                <a href="/post/{{this.id}}">
                    <div class="post-individual">
                            <figure>
                                <blockquote class="post-title">
                                    {{this.title}}
                                </blockquote>

                                <figcaption class="post-game">
                                    <span>{{this.game}}</span>
                                </figcaption>

                                <figcaption class="post-autor">
                                    Player: <span>{{this.User.name}}</span>
                                </figcaption>
                            </figure>
                    </div>
                </a>
                {{/each}}
            </div>
        </section>
    
    </div> 
</div>
